
/* VIDEO STYLES */
.video-section {
	background-color: #ffcc33;	
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.video {
	margin-top: 100px;
	border-bottom: 2px solid #ffcc33;
	background-color: #ffcc33;
}
/* NAVBAR STYLES */

.navbar.navbar-default.navbar-fixed-top.ods {
	min-height: 100px;
	border-bottom: 2px solid #ffcc33;
	border-top: 2px solid #ffcc33;
	background-color: #ffffff;
}

.ods-menu{
		margin-top: 50px;
		background-color: #ffffff;
	}

#navbar {
	background-color: #ffffff;
}

.logo img {
	width: 100%;
	margin-top: -5%;
}

.navbar-default .navbar-nav > li > a {
    color: #ffcc33;
    font-weight: bolder;
    font-size: 1.3em;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #333399;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #333399;
    background-color: #ffcc33;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #333399;
    text-decoration: none;
    background-color: #ffcc33;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
	color: #333399;
}

.icon-bar {
	color: #333399;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	color: #ffcc33;
    background-color: #333399;
}
.navbar-default .navbar-toggle {
    border-color: #333399;
}

.main {
	background-color: #ffcc33;
}

.left-subheader {
	background-color: #333399;
}



.flaticon-tool119.wheel {
	color: #ffcc33;
}
